form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px; /* Add margin at the bottom */
}

h1 {
  text-align: center;
  color: crimson;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
  color: #150283;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #004d40; 
}

label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  color: #333;
}

select, input {
  width: 100%; 
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

input:focus, select:focus {
  border-color: #150283;
  outline: none;
  box-shadow: 0 0 5px rgba(21, 2, 131, 0.2);
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: #150283;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #2403a1;
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

div.prediction-section {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

p.prediction {
  font-size: 24px;
  font-weight: bold;
  color: #150283;
}

.prediction-box {
  margin-top: 20px;
  padding: 20px; 
  border-radius: 10px; 
  background-color: #e0f7fa; 
  border: 2px solid #00838f;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }
  button {
    font-size: 16px;
    padding: 8px 0;
  }
}
